body {
	background-color: rgb(36, 36, 36);
}

.grid-item {
  border: 1px solid black;
  padding: 10px;
  background-color: black;
  color: rgb(179, 179, 179);
  border-radius: 50px;
  border: 1px solid white;
  font-size: 20px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.test {
  border: 3px solid rgb(75, 0, 0);
  margin-bottom: 100px;
}