:root {
  --odin-orange: rgb(153, 108, 41);
  --odin-orange2: #ce973e;
  --odin-blue: rgb(41, 98, 101);
  --p-text-color: rgb(77, 77, 77);
}

h1, h2, h3, h4, h5, h6, p, a, div, span, li, ol {
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: 'Norse Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Norse Regular'), url('/norse-font/Norse.woff') format('woff');
}
  

@font-face {
  font-family: 'Norse Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Norse Bold'), url('norse-font/Norsebold.woff') format('woff');
}

.text-gray {
  color: rgb(126, 126, 126);
}

.bg-light {
  background-color: rgb(238, 238, 238);
}

.hov-black:hover {
  color: black;
}

#lesson-badge {
  border: 10px solid #96B874;
  border-radius: 100%;
}

.text-orange {
  color: var(--odin-orange2);
}

.f-family-norse {
  font-family: 'Norse Regular';
}

.f-family-norse-bold {
  font-family: 'Norse Bold';
}

.p-text {
  color: var(--p-text-color);
  line-height: normal;
}

.ol {
  list-style: decimal;
}

.li-inside {
  list-style-position: inside;
}





#test-div {
  border: 3px solid rgb(0, 104, 86);
  margin-top: 200px;
}

.grid-item {
  box-sizing: border-box;
  background-color: black;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  border: 5px solid rgb(88, 2, 2);
}